<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
    	<typeAlias type="com.hk.project.member.vo.MemberVO" alias="MemberVO" />
    	<typeAlias type="com.hk.project.notice.vo.NoticeVO" alias="NoticeVO" />
		<typeAlias type="com.hk.project.movie.vo.MovieVO" alias="MovieVO" />
		<typeAlias type="com.hk.project.review.vo.ReviewVO" alias="ReviewVO" />
		<typeAlias type="com.hk.project.ticket.vo.TicketVO" alias="TicketVO" />
    </typeAliases>
</configuration>