@charset "UTF-8";

.sign-wrapper mg-lg-r-50 mg-xl-r-60 {
	margin-left: 30px;
	margin-right: 30px;
}
.btn btn-secondary btn-block {
	margin:30px;
}


#checkDup {
	font-size:13px;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3c3c3c;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #3c3c3c;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #3c3c3c;
}